.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #210C3E;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-title {
  font-size: 30px;
	font-weight: 700;
	margin-bottom: 0;
}

.App-description {
  font-size: initial;
  font-weight: 300;
  font-style: italic;
  margin-top: -10px;
}

.App-link, .App-link:hover, .App-link:active {
  font-size: large;
  color: #313092;
  text-decoration: overline;
}