:root {
	--connectColor: #313092;
  --coachColor: #EF4023;
  --createColor: #77449A;
	--secondaryColor: #210C3E;
	--bgColor: #FFFFFF;
	--textColor: #000000;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', sans-serif;
}